<div style="width: 100%; height: 100%; overflow: auto; padding: 16px;">
    <div *ngFor="let libraryItem of pixlfoxClient.library" class="game-card" [contextMenu]="libraryContextMenu" [contextMenuSubject]="libraryItem">
        <div class="game-card-img">
            <img src="{{libraryItem.images.tile || 'https://pixlfox.com/img/tile.placeholder.jpg'}}" alt="">
            <div class="overlay">
                <div class="btn-group bottom-left show-hover" *ngIf="libraryItem['isInstalled'] && !libraryItem['isDownloading'] && libraryItem['supportedPlatforms'] && libraryItem['supportedPlatforms'].indexOf(pixlfoxClient.currentPlatform) != -1">
                    <button class="btn btn-primary" *ngIf="libraryItem['isUpToDate']" (click)="gameManager.installOrRunAction(libraryItem, 'launch')">Launch</button>
                    <button class="btn btn-warning" *ngIf="!libraryItem['isUpToDate']" (click)="gameManager.install(libraryItem)">Update</button>
                    <!--<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>-->
                </div>
                <div class="btn-group bottom-left show-hover" *ngIf="!libraryItem['isInstalled'] && !libraryItem['isDownloading'] && libraryItem['supportedPlatforms'] && libraryItem['supportedPlatforms'].indexOf(pixlfoxClient.currentPlatform) != -1">
                    <button class="btn btn-info" (click)="$event.preventDefault(); gameManager.install(libraryItem, null);">Install</button>
                </div>
                <div class="btn-group bottom-left show-hover" *ngIf="!libraryItem['supportedPlatforms'] || libraryItem['supportedPlatforms'].indexOf(pixlfoxClient.currentPlatform) == -1">
                    <button class="btn btn-info" mdTooltip="This app is not currently supported on your system." mdTooltipPosition="above">Unsupported</button>
                </div>
                <div class="bottom-right show-hover">
                    <i class="mdi mdi-delete" mdTooltip="Uninstall" mdTooltipPosition="above" *ngIf="libraryItem['isInstalled']" (click)="gameManager.uninstall(libraryItem)"></i>
                    <!--<i class="mdi mdi-share-variant" data-toggle="tooltip" data-placement="top" title="Share with friends"></i>
                    <i class="mdi mdi-heart-outline" data-toggle="tooltip" data-placement="top" title="Add to favorites"></i>-->
                </div>
            </div>
        </div>
        <div class="game-card-caption" (click)="viewGame(libraryItem.id)">
            <h3 class="game-card-title">{{libraryItem.name}}</h3>
        </div>
    </div>
</div>

<context-menu #libraryContextMenu [useBootstrap4]="true">
    <ng-template contextMenuItem [visible]="isGameLaunchableBound" (execute)="gameManager.installOrRunAction($event.item, 'launch')">
        <i class="mdi mdi-play"></i> Launch
    </ng-template>
    <ng-template contextMenuItem [visible]="isGameUpdatableBound" (execute)="gameManager.install($event.item)">
        <i class="mdi mdi-download"></i> Update
    </ng-template>
    <ng-template contextMenuItem [visible]="isGameInstallableBound" (execute)="gameManager.install($event.item)">
        <i class="mdi mdi-download"></i> Install
    </ng-template>
    <ng-template contextMenuItem [visible]="isGameInstalledBound" (execute)="openInstallPath($event.item)">
        <i class="mdi mdi-folder-open"></i> Open Install Path
    </ng-template>
    <ng-template contextMenuItem [visible]="isGameSupportedBound" divider="true"></ng-template>
    <ng-template contextMenuItem (execute)="viewStorePage($event.item.id)">
        <i class="mdi mdi-store"></i> View Store Page
    </ng-template>
    <ng-template contextMenuItem [visible]="isGameInstalledBound" divider="true"></ng-template>
    <ng-template contextMenuItem [visible]="isGameInstalledBound">
        <i class="mdi mdi-settings"></i> Settings
    </ng-template>
    <ng-template contextMenuItem [visible]="isGameInstalledBound" (execute)="gameManager.uninstall($event.item)">
        <i class="mdi mdi-delete"></i> Uninstall
    </ng-template>
</context-menu>