@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);
body {
    color: #878da7;
    font-family: 'Lato';
    background: transparent;
    user-select: none;
    min-width: 650px;
    overflow: hidden;
}

header {
    height: 70px;
    width: 100%;
    background: #404257;
    display: flex;
}

header .title {
    font-size: 16px;
    padding: 23px 32px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    color: #FFFFFF;
    width: 189px;
}

header .icon {
    width: 70px;
    height: 70px;
    padding: 10px;
    background-color: #2196F3;
    float: left;
}

header .search {
    float: left;
    background-color: #4a4c63;
    height: 100%;
    flex: auto;
}

header .search input {
    display: inline-block;
    width: calc(100% - 50px);
    height: 100%;
    background: transparent;
    border: none;
    color: #ffffff;
    padding: 16px;
    outline: none;
    font-size: 12px;
}

header .search input::-webkit-input-placeholder {
    color: #878da7;
}

header .search i {
    display: inline-block;
    font-size: 24px;
    vertical-align: middle;
    padding: 8px;
}

header .account-info-tile {
    float: right;
    padding: 11px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    width: 197px;
    text-align: center;
    overflow: hidden;
}

header .account-info-tile .thumb-box {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 6px;
    position: relative;
}

header .account-info-tile .thumb-box .status {
    border: solid 2px #404257;
}

header .account-info-tile .text-wrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

header .account-info-tile .text-wrapper .display-name {
    display: block;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}

header .account-info-tile .text-wrapper .display-info {
    display: block;
    color: #858aa7;
    font-size: 10px;
}

header .spacer {
    width: 85px;
}

.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 28px;
    width: 100%;

    -webkit-app-region: drag;
    z-index: 10000;
}

.titlebar .window-action {
    width: 28px;
    height: 28px;
    float: right;
    margin: 0;
    padding: 6px;
    background: transparent;
    border: none;
    color: #E0E0E0;
    font-size: 12px;

    outline: 0;
    -webkit-app-region: no-drag;
}

.titlebar .window-action:hover {
    color: #ffffff;
    background: #2196F3;
}

.titlebar .window-action-close:hover {
    background: #F44336;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #404257;
    font-size: 30px;
    text-align: center;

    z-index: 9000;
}

.profile-image {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.account-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    border-top: 1px solid rgba(255,255,255,.1);
    cursor: pointer;
}

.nav-panel {
    float: left;
    width: 71px;
    min-width: 71px;
    height: 100%;
    overflow: auto;
    position: relative;
    background-color: #FFFFFF;
}

.view-panel {
    float: left;
    height: 100%;
    width: calc(100% - 140px);
    background-color: #edf2f6;
}

.friends-panel {
    float: right;
    width: 71px;
    min-width: 71px;
    height: 100%;
    overflow: auto;
    position: relative;
    background-color: #FFFFFF;
}

.friends-list,
.nav-list {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.nav-list .list-group-item .mdi {
    font-size: 25px;
    margin: 0px 13px;
}

.nav-list .list-group-item {
    filter: drop-shadow( 0px 0px 0px rgba(0,0,0,.24) );
}

.nav-list .list-group-item:hover {
    filter: drop-shadow( 2px 2px 3px rgba(0,0,0,.16) );
}

.nav-list .list-group-item:active {
    filter: drop-shadow( 0px 0px 0px rgba(0,0,0,.24) );
}

.friends-list .list-group-item,
.nav-list .list-group-item {
    border: none;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    min-height: 55px;
    transition: transform, color 0.15s ease-in-out;
}

.friends-list .list-group-item:hover,
.nav-list .list-group-item:hover {
    transform: scaleX(1.08) scaleY(1.08);
}

.friends-list .list-group-item:active,
.nav-list .list-group-item:active {
    transform: scaleX(0.96) scaleY(0.96);
}

.nav-list .list-group-item {
    margin: 6px 0px;
    color: #9ba0be;
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
}

.nav-list .list-group-item:hover {
    margin: 6px 0px;
    color: #878da7;
}

.nav-list .list-group-item.active {
    margin: 6px 0px;
    color: #2196F3;
}

.friends-list a, .friends-list a:hover, .friends-list a:active,
.account-info a, .account-info a:hover, .account-info a:active {
    color: #ffffff;
    text-decoration: none;
}

.friends-list .thumb-box, .account-info .thumb-box {
    display: inline-block;
    margin: 2px 9px;
    position: relative;
}

.friends-list .list-group-item .thumb-box .profile-image {
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.friends-list .list-group-item:hover .thumb-box .profile-image {
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.friends-list .list-group-item:active .thumb-box .profile-image {
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.thumb-box .status {
    display: inline-block;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 100%;
    border: 2px solid #ffffff;
    position: absolute;
}

.thumb-box .notify-count {
    display: inline-block;
    bottom: 0;
    left: 0;
    max-width: 24px;
    height: 14px;
    font-size: 10px;
    position: absolute;
    background-color: #F44336;
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    padding: 0px 2px;
}

.thumb-box .status.ingame {
    background-color: #4CAF50;
}

.mdi.status.ingame {
    color: #4CAF50;
}

.thumb-box .status.away {
    background-color: #FF9800;
}

.mdi.status.away {
    color: #FF9800;
}

.thumb-box .status.online {
    background-color: #03A9F4;
}

.mdi.status.online {
    color: #03A9F4;
}

.thumb-box .status.offline {
    background-color: #9E9E9E;
}

.mdi.status.offline {
    color: #9E9E9E;
}

.friends-list .info-box,
.account-info .info-box
 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 169px;
}

.friends-list .info-box .status,
.account-info .info-box .status {
    font-size: 12px;
    font-weight: 300;
}

.friends-list .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.friends-list .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.account-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}

.content {
    display: flex;
    height: calc(100% - 70px);
    width: 100%;
    margin-top: 70px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.dropdown-menu {
    background-color: #2a2b2d;
    border-radius: 0;
    border: none;
    padding: 3px 0;
}

.dropdown-menu.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    margin: 0;
}

.dropdown-menu.context-menu.open {
    display: block;
}

.dropdown-divider {
    background-color: #616161;
}

.dropdown-item,
.dropdown-menu li {
    color: #BBBBBB !important;
    font-size: 13px;
    cursor: pointer;
    width: 100%;
}

.dropdown-menu li a {
    width: 100%;
    display: block;
    padding: 3px 1.5rem;
    color: #BBBBBB !important;
    text-decoration: none;
}

.dropdown-menu li.divider {
    background-color: #616161;
    height: 1px;
    width: 100%;
    margin: 3px 0;
}

.dropdown-item:focus, .dropdown-item:hover,
.dropdown-menu li:focus, .dropdown-menu li:hover {
    color: #FFFFFF !important;
    background-color: #3a3b3d;
}

.dropdown-menu li:focus a, .dropdown-menu li:hover a {
    color: #FFFFFF !important;
}

.account-info .dropdown-menu {
    width: 100%;
    margin-bottom: 0;
}

.dropdown-item i,
.dropdown-menu li i {
    margin-left: -18px;
    margin-right: 3px;
}

.dropdown-item i.status {
    font-size: 6px;
    padding: 4px;
    position: absolute;
}

.scrollable {
    overflow: auto;
}

/* CHAT */
.chat-history {
    height: calc(100% - 162px);
    border-bottom: 1px solid #e5ecf4;
    user-select: text;
}
.chat-history:hover {
  padding-right: 0;
}
.chat-history li {
    display: block;
}
.chat-history ul {
    padding: 0;
}
.chat-history .message {
  line-height: 26px;
  font-size: 14px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding-left: 68px;
  padding-right: 2px;
}
.chat-history .message-header {
    width: 100%;
    padding: 8px;
    padding-bottom: 0;
    margin-top: 12px;
    padding-top: 12px;
}
.chat-history li:first-child .message-header {
    border-top: none;
    margin-top: 0;
}
.chat-history .message-header .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    padding: 6px;
    vertical-align: top;
}
.chat-history .message-header .message-header-info {
    width: calc(100% - 54px);
    display: inline-block;
}
.chat-history .message-header .message-header-info div {
    padding-left: 6px;
}
.chat-history .message-header .message-header-name {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
.chat-history .message-header .message-header-time {
    font-size: 12px;
    margin-left: 6px;
    color: #808080;
    float: right;
}
.chat-history .message-header .message {
    padding-left: 6px;
    padding-right: 0;
}

.chat-list {
    height: 100%;
    width: 300px;
    border-right: 1px solid #e5ecf4;
}

.chat-list-item {
    padding: 16px;
    border-bottom: 1px solid #e5ecf4;
    cursor: pointer;
}

.chat-list-item.selected {
    background-color: rgba(229, 236, 244, .6);
}

.chat-list-item .profile-image {
    display: inline-block;
    vertical-align: top;
}

.chat-list-item .info {
    display: inline-block;
    width: calc(100% - 39px);
    padding: 0 8px;
}

.chat-list-item .info .display-name {
    font-weight: 700;
    float: left;
}

.chat-list-item .info .time-stamp {
    font-size: 11px;
    float: right;
}

.chat-list-item .info .recent-message {
    font-size: 12px;
}

.chat-panel {
    height: 100%;
    width: calc(100% - 300px);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.emojione {
    vertical-align: bottom;
    width: 32px;
    height: 32px;
}

/* GAME CARD */
.game-card {
    float: left;
    display: block;
    margin: 12px;
}

.game-card .game-card-img {
    position: relative;
    width: 165px;
    height: 220px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: all 0.15s ease-in-out;
}

.game-card .game-card-img:hover {
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transform: scaleX(1.02) scaleY(1.02);
}

.game-card .game-card-img:active {
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transform: scaleX(0.99) scaleY(0.99);
}

.game-card .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.15s ease-in-out;
}

.game-card .overlay:hover {
    background-color: rgba(0,0,0,.3);
}

.overlay .top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.overlay .top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.overlay .bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.overlay .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.overlay .center {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.overlay .show-hover {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover .show-hover {
    opacity: 1;
}

.game-card .overlay .mdi {
    padding: 6px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.game-card .overlay .mdi:hover {
    color: #2196F3;
}

.game-card .game-card-img img {
    width: 100%;
    height: 100%;
}

.game-card .game-card-caption .game-card-title {
    font-size: 18px;
    padding: 10px 6px;
    width: 100%;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.game-card .game-card-caption p {
    padding: 8px;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* SCROLLBARS */
*::-webkit-scrollbar-track
{
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

*:hover::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

*::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, .4);
}

/* PANEL */
.panel {
    background: rgba(255,255,255,.4);
    border-radius: 5px;
    border: 1px solid #e5ecf4;
    display: flex;
    flex-direction: column;
}

.panel .header {
    padding: 16px;
    border-bottom: 1px solid #e5ecf4;
    width: 100%;
}

.panel .header .title {
    font-weight: 700;
    float: left;
}

.panel .header .icons {
    float: right;
}

.panel .header .icons i {
    padding: 6px;
    cursor: pointer;
}

.panel .body {
    padding: 16px;
    width: 100%;
}

.panel .body.no-padding {
    padding: 0;
}

.panel.full {
    height: 100%;
    border-radius: 0;
    border: none;
}

.panel.full .body {
    height: calc(100% - 57px);
    display: flex;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* LOADER */
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.btn {
    border-radius: 0;
    padding: 6px 12px;
}

/** {
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-right-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-left-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}*/

html.padded {
    padding: 5px;
}

html.padded .content{
    padding: 0 5px;
}

html.padded .titlebar {
    padding: 5px
}

/* DARK THEME */
body.dark-theme {
    color: #878da7;
}

body.dark-theme .nav-panel,
body.dark-theme .friends-panel {
    background-color: #1e2430;
}

/*body.dark-theme .friends-list .list-group-item,
body.dark-theme .nav-list .list-group-item {
    background-color: #1e2430;
}*/

body.dark-theme .friends-panel .thumb-box .status {
    border: 2px solid #1e2430;
}

body.dark-theme .chat-history {
    border-color: #303746;
    color: #c7cad8;
}

body.dark-theme .chat-panel textarea {
    color: #ffffff;
}

body.dark-theme .panel {
    background-color: rgba(30, 36, 48, .4);
    border-color: #303746;
    color: #c7cad8;
}

body.dark-theme .chat-list-item.selected {
    background-color: rgba(48, 55, 70, .4);
}

body.dark-theme .panel .header,
body.dark-theme .chat-list-item,
body.dark-theme .chat-list {
    border-color: #303746;
}

body.dark-theme .view-panel {
    background-color: rgb(46, 52, 64);
}

/* GLASS */
body.glass header {
    background-color: transparent;
}

body.glass header .icon {
    background-color: rgba(33, 150, 243, .8);
}

body.glass header .title,
body.glass header .account-info-tile,
body.glass header .spacer,
body.glass .loading {
    background-color: rgba(64, 66, 87, .8);
}

body.glass header .search {
    background-color: rgba(74, 76, 99, .8);
}

body.glass .view-panel {
    background-color: rgba(237, 242, 246, .9);
}

body.platform-darwin.glass .view-panel {
    background-color: rgba(237, 242, 246, .8);
}

body.glass .nav-panel,
body.glass .friends-panel {
    background-color: rgba(255, 255, 255, .9);
}

body.platform-darwin.glass .nav-panel,
body.platform-darwin.glass .friends-panel {
    background-color: rgba(255, 255, 255, .8);
}

body.glass.dark-theme .nav-panel,
body.glass.dark-theme .friends-panel {
    background-color: rgba(33, 38, 49, .9);
}

body.platform-darwin.glass.dark-theme .nav-panel,
body.platform-darwin.glass.dark-theme .friends-panel {
    background-color: rgba(33, 38, 49, .8);
}

body.glass.dark-theme .view-panel {
    background-color: rgba(46, 52, 64, .9);
}

body.platform-darwin.glass.dark-theme .view-panel {
    background-color: rgba(46, 52, 64, .8);
}